a{
	text-decoration: none;
}

.container{
	background-color: #0c0f38;
	width: 100%;
	color: white;
}

nav{
  width: 100%;
}

label.logo{
  color: white;
  font-size: 40px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

ul li a.active,ul li a:hover{
  background: #fdd430;;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.banner-container{
	display: inline-flex;
	width: 100%;
}

.banner-text{
	width: 50%;
}

.banner-text h1{
	margin-left: 185px;
	font-family: 'Raleway', sans-serif;
	font-size: 59px;
}

.banner-text p{
	margin-left: 185px;
	line-height: 28px;
	max-width: 520px;
	font-size: 20px;
}

.image{
	width: 50%;
}

.image img{
	width: 85%;
}

.banner-text button{
	background-color: white;
	color: black;
	width: 190px;
	height: 52px;
	font-size: 17px;
	font-weight:lighter;
	text-align: center;
	margin-top: 20px;
	margin-left: 185px;
	border: 0px;
	margin-bottom: 20px;
	transition: background-color 0.5s ease;

}

.banner-text button:hover{
	background-color: black;
	color: white;
	width: 190px;
	height: 52px;
	border: 0px;
	font-size: 17px;
	font-weight:lighter;
	text-align: center;

}

.container-second{
	width: 100%;
	text-align: center;
}

.container-second div h1{
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	color: #0c0f38;
	margin-top: 75px;
}

.container-second-image{
	margin-top: 55px;
}

.container-second-third-box p{
	max-width: 1040px;
	text-align: center;
	margin:0 auto;
	font-size: 18px;
	line-height: 28px;
}

.container-second-third-box button{
	background-color: black;
	border-color: black;
	border: 0px;
	color: white;
	width: 190px;
	height: 52px;
	font-size: 17px;
	font-weight:lighter;
	text-align: center;
	margin-top: 35px;
	transition: background-color 0.5s ease;

}

.container-second-third-box button:hover{
	background-color: #0c0f38;
	color: white;
	border: 0px;
	width: 190px;
	height: 52px;
	font-size: 17px;
	font-weight:lighter;
	text-align: center;
	margin-top: 35px;
}

.services-conatiner{
	width: 100%;
	background-color: #0c0f38;
	text-align: center;
	color: white;

}

.services-conatiner h1{
	margin-top: 70px;
	padding-top: 50px;
	font-family: 'Raleway', sans-serif;
	font-size: 55px;
}

.services-conatiner p{
 	max-width: 650px;
 	font-size: 20px;
 	font-weight: lighter;
 	margin: 0 auto;
 	margin-bottom: 70px;
}

.service-card{
	border: 1px solid white;
	width: 350px;
	height: 350px;
	border-radius: 25px;
	color: white;
	transition: background-color 0.8s ease;
	margin: 15px;
}

.service-cards-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;
}

.service-cards-container img{
	background-color: white;
	border-radius: 360px;
	width: 27%;
	display: inline;
	margin-top: 40px;
}

.services-conatiner button{
	background-color: white;
	color: black;
	border: 0px;
	width: 190px;
	height: 52px;
	font-size: 17px;
	font-weight:lighter;
	text-align: center;
	margin-top: 55px;
	margin-bottom: 55px;
	transition: background-color 0.5s ease;
}

.services-conatiner button:hover{
	background-color: #8308eb;
	color: white;
	border: 0px;
	width: 190px;
	height: 52px;
	font-size: 17px;
	font-weight:lighter;
	text-align: center;
	margin-top: 55px;
}

.service-card:hover{
	border: 1px solid white;
	width: 350px;
	height: 350px;
	border-radius: 25px;
	color: white;
	background-color: #8308eb;
	transition-delay: 0.2s;
	margin: 15px;
}

.why-us-container{
	width: 100%;
	text-align: center;
}

.why-us-info h1{
	font-size: 50px;
	margin-top: 55px;
	font-family: 'Raleway', sans-serif;
}

.why-us-info p{
	max-width: 1150px;
 	font-size: 20px;
 	font-weight: lighter;
 	margin: 0 auto;
}

.why-us-cards-main-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;
    margin: 20px;
}

.why-us-card{
	border: 1px solid black;
	border-radius: 25px;
	width: 325px;
	height: 400px;
	font-family: 'Poppins', sans-serif;
	transition: transform .2s;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border: 0px;
	margin: 20px;
}

.why-us-card p{
	max-width: 270px;
	margin: 0 auto;
	line-height: 25px;
}

.why-us-card img{
	margin-top: 20px;
}

.why-us-cards-container button{
	background-color: black;
	color: white;
	width: 190px;
	height: 52px;
	font-size: 17px;
	border: 0px;
	font-weight:lighter;
	text-align: center;
	margin-top: 55px;
	margin-bottom: 55px;
	transition: background-color 0.5s ease;
}

.why-us-cards-container button:hover{
	background-color: #8308eb;
	color: white;
	width: 190px;
	height: 52px;
	border: 0px;
	font-size: 17px;
	font-weight:lighter;
	text-align: center;
	margin-top: 55px;
}

.why-us-card:hover{
	transform: scale(1.1);
}

.footer{
	background-color: #0c0f38;
	color: white;
	text-align: center;
	width: 100%;
}
.footer-text{
	font-size: 20px;
}


@media only screen and (max-device-width: 1000px){

	.banner-container{
  		display: inline-block;
  		margin-top: 100px;
  	}

  	.service-card{
  		width: 100%;
  	}

  	.why-us-cards-container{
  		width: 100%;
  	}

  	.why-us-card{
  		width: 385px;
		height: 440px;
  	}

  	.why-us-card img{
		margin-top: 45px;
 	}

 	.checkbtn{
    	display: block;
  	}

  	ul{
   		position: fixed;
    	width: 100%;
   		height: 100vh;
    	top: 80px;
    	left: 100%;
    	text-align: center;
    	transition: all .5s;
    	background: #fdd430;
 	}

  	nav ul li{
    	display: block;
    	margin: 50px 0;
    	line-height: 30px;
  	}

  	nav ul li a{
    	font-size: 28px;
    	color: white;
    	font-family: 'Poppins', sans-serif;
  	}

  	a:hover,a.active{
    	color: #0c0f38;
    	background: none;
  	}

  	#check:checked ~ ul{
    	left: 0;
  	}

  	.banner-text{
		width: 100%;
		margin-top: 20px;
	}

	.image{
		width: 100%;
	}

	.container{
		padding-top: 20px;
	}

	.why-us-card{
		margin: 0 auto;
        float: none;
	}

  
 	

}
